@import 'color_theme';

// --------- Main Layout ---------
hr{
	background:#41719c;
}

body{
	margin:0 auto;
	position: initial;
	font-size: 14px;
	background:$main_bg2;
	color:$hi_color2;
	text-align: left;
	width:100%;
}




.fa{
	color: inherit;
	margin:0 5px;
}

#jsonarea, #sdkJsonArea{
	width: 100%;
	max-width:100%;
	padding:5px;
	height:300px;
}
#sdkJsonArea{
	height: 500px;
}

#mainPanel{
	padding: 15px;
}
#ccWrap{
	max-width:700px;
}
.ccSummary, .loadButton, .testSummary{
	width:90px;
	height: 60px;
	font-size: 16px;
	font-family: Courier New;
	background:$main_bg3;
	border: 1px $acc_color2 solid;
	display:inline-block;
	margin-right: 10px;
	vertical-align:middle;
	text-align: center;
	border-radius: 3px;
	position: relative;
	padding-top:20px;
}
.loadButton{
	line-height: initial;
	font-size: 14px;
	padding: 0;
	font-family: inherit;
	float:none;
}

.testSummary{
	color: $acc_color5;
}

.selectedCC, .ccSummary:hover, .testSummary:hover{
	cursor:pointer;
	border:1px #41719C solid;
}
.selectedCC{
	border:1px yellow  solid;
}

.legend{
	display:inline-block;
	width:100px;
	text-align:left;
}

.newInput{
	width:100%;
}

.delcc, .delrecord{
	position: absolute;
	top: -2px;
	right: -6px;
	padding: 5px 4px 5px 8px;
	font-size: 12px;
}

.delcc:hover, .delrecord:hover{
	cursor: pointer;
	color: #fff;
}

// --------- common ---------
.hint{
	font-size:12px;
	font-weight:bold;
	color:$acc_color2;
}

// common tool
.tool{
	display:inline-block;
	text-align:center;
	border:1px #555 solid;
	margin-top:10px;
	position: relative;
}
.tool:hover{
	border:solid 1px #fff;
	cursor:pointer;
}
.accent{
	color: $acc_color4;
}
.accent2{
	color: $acc_color5;
}


.toolDisalbed:hover{
	border:solid 1px #555;
	cursor:default;
}


// open tool
.toolOpen{
	width:170px;
	padding:45px 15px;
	font-size:20px;
	line-height:87px;
	font-size: 87px;
	position: relative;
}
.toollegendOpen{
	position: absolute;
	right:8px;
	bottom: 28px;
	line-height: initial;
	font-size: 16px;
	
	transform: rotate(-50deg);
	/* Safari */
	-webkit-transform: rotate(-50deg);

	/* Firefox */
	-moz-transform: rotate(-50deg);

	/* IE */
	-ms-transform: rotate(-50deg);

	/* Opera */
	-o-transform: rotate(-50deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.stepNumberOpen{
	position: absolute;
	left: 10px;
	top: 12px;
	font-size: 16px;
	line-height: initial;
}

//closed tool
.toolClosed{
	padding: 10px 5px;
	font-size: 16px;
	width: 92%;
	line-height: initial;
}
.toollegendClosed{
	display: inline-block;
	position: initial;
	top: initial;
	
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.stepNumberClosed{
	position: absolute;
	left: 10px;
	top: 10px;
}





#statusPanel{
	position: fixed;
	top:0;
	height:25px;
	color:#fff;
	background:$hi_color2;
	width:98%;
	margin:auto;
	left:1%;
	z-index:9;
	font-size:14px;
	line-height: 23px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#mainPanel{
	position: relative;
	top:30px;
}

#gitUrlWrap{
	float:right;
	margin-right:10px;
}

#nameWrap{
	float:left;
	margin-left:15px;
}
#peerWrap{
	position: absolute;
	width:100%;
	text-align: center;
}
#peer{
	padding: 5px;
	border-radius: 8px;
}


#loadPanel, #networkPanel, #chaincodePanel, #testPanel, #logPanel{
	display:none;
}
#chaincodePanel{
	min-height:220px;
}
.subPanel{
	width: 84%;
	display: inline-block;
	text-align: left;
	margin-left: 10px;
	vertical-align: top;
	margin-top:10px;
}

#logs{
	width: 90%;
	height: 400px;
	background:$main_bg3;
	border: 1px #555 solid;
	color:#fff;
	font-family: Courier New, Courier, monospace;
	padding:5px;
	overflow-y: auto;
	word-wrap: break-word;
	display: inline-block;
}

#sdkLoading{
	display: none;
}

#clearLogs{
	padding:5px;
	vertical-align: top;
}
#clearLogs:hover{
	cursor: pointer;
	color:#fff;
}

.errorBorder{
	border-color: #cc0000 !important;
}

.subPanel{
	min-height: 100px;
}


.recordButtonActive{
	background: #fff;
	font-weight: bold;
	color: $hi_color2;
	width: 170px;
}

.queryAllButton{
	margin-right: 10px;
}

.selectedRecording{
	border-color:#fff !important;
}

#playButton{
	display:inline-block;
}

input[type=text].recordingName{
	width: 92%;
	margin: 0 auto;
	margin-bottom: 8px;
	padding: 0;
	color: $acc_color5;
	font-family: Courier New;
	min-width: 10px;
	text-align: center;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-color: #C095FF;
}